[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "OSC"]
	path = OSC
	url = https://github.com/CNMAT/OSC.git
[submodule "libraries/OSC"]
	path = libraries/OSC
	url = https://github.com/CNMAT/OSC.git
[submodule "libraries/Bounce2"]
	path = libraries/Bounce2
	url = https://github.com/thomasfredericks/Bounce2.git
[submodule "libraries/RF24"]
	path = libraries/RF24
	url = https://github.com/TMRh20/RF24.git
[submodule "libraries/RF24Audio"]
	path = libraries/RF24Audio
	url = https://github.com/TMRh20/RF24Audio.git
[submodule "libraries/Arduino-IRremote"]
	path = libraries/Arduino-IRremote
	url = https://github.com/shirriff/Arduino-IRremote
[submodule "libraries/DMXSerial"]
	path = libraries/DMXSerial
	url = https://github.com/mathertel/DMXSerial.git
[submodule "libraries/Bounce-Arduino-Wiring"]
	path = libraries/Bounce-Arduino-Wiring
	url = https://github.com/thomasfredericks/Bounce-Arduino-Wiring
[submodule "libraries/Adafruit_TCS34725"]
	path = libraries/Adafruit_TCS34725
	url = https://github.com/adafruit/Adafruit_TCS34725.git
